@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
   --emerald-50: #ecfdf5;
   --emerald-100: #d1fae5;
   --emerald-200: #a7f3d0;
   --emerald-300: #6ee7b7;
   --emerald-400: #34d399;
   --emerald-500: #10b981;
   --emerald-600: #059669;
   --emerald-700: #047857;
   --emerald-800: #065f46;
   --emerald-900: #064e3b;
}

body {
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--emerald-700);
    color: white;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

h1 {
    margin: 0;
    padding: 1.75rem;
}

.container {
    text-align: center;
    font-size: 1.25rem;
    
    width: 750px;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 25px 3px lightgray;
}


#bday-input {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 1.125rem;
}
p {
    margin: 1rem 0;
    
}

button {
    border: 0;
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    font-size: 1.125rem;
    color: white;
    background-color: var(--emerald-700);
}